/*-- scss:defaults --*/

$body-bg: #f7f4e3;
$body-color: #403f4c;
$link-color: #F94144;
$presentation-heading-color: #577590;
$code-color: #cc0000;
$code-block-bg: #ded9ca;
$code-block-border-color: #000000;

/*-- scss:rules --*/

.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  font-size: 0.35em !important;
  text-align: center !important;
}

.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

.sectionhead {
  font-size: 1em;
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  margin: 1px;
  padding: 2px 10px 2px 2px;
  width: 120px;
  border-left: 10px solid #BFBCAF;
  position: fixed;
  //top: 20px;
  //right: 20px;
  //text-align: left;
  float: right;
  margin-top: 20px;
  margin-right: 5px; // Diminua este valor para mover mais para a direita
  text-align: left;
  
  // Cores do arco-íris para cada número
  .number-1 { color: #f94144; } // Vermelho
  .number-11 { color: #ECB1B2; }
  .number-2 { color: #F3722C; } // Laranja
  .number-22 { color: #E7BCA4; }
  .number-3 { color: #F9C74F; } // Amarelo
  .number-33 { color: #E2CA93; }
  .number-4 { color: #759D55; } // Verde
  .number-44 { color: #9FB68D; }
  .number-5 { color: #277da1; } // Azul
  .number-55 { color: #8BA5B0; }
  .number-6 { color: #685384; } // Violeta/Roxo
  .number-66 { color: #A5A1AA; }
  
  // Garantir que os spans fiquem inline
  span {
    display: inline;
  }
}

.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}
